*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::selection {
    background: #111;
    color: #000;
    text-decoration: none;
    box-shadow: none;
    text-shadow: none;
}

@font-face {
    src: url(libb.ttf);
    font-family: Liberation Bold;
}

@font-face {
    src: url(libr.ttf);
    font-family: Liberation Mono;
}

html,
body {
    -webkit-font-smoothing: antialiased;
}

body {
    display: table;
    width: 100%;
    height: 100vh;
    background: #000;
    color: #fff;
    font-family: Liberation Mono;
}

.centered {
    display: table-cell;
    vertical-align: middle;
    padding-left: 100px;
}

h1 {
    font-family: Dosis;
    text-transform: uppercase;
    margin-bottom: 10px;
}

p.lead {
    line-height: 1.56774328;
}

p>span {
	text-decoration: line-through;
}

a {
    color: #fff;
    &:hover, &:focus {
        outline: none;
        background: #fff;
        color: #222;
        text-decoration: none;
    }
}
