---
layout: default
---


{% include sidebar.html %}

<div class="separator"></div>

<section class="excerpts">
	<h1 class="note_header">Posts</h1>
	{% for post in site.posts %}
		<div class="excerpt">
			<h1>{{post.title}}</h1>
			<h4> By {{ post.author }} on {{ post.date }} in {{post.categories}}</h4>

			<p class="lead">
				{{ post.excerpt }}
			</p>

		</div>
		<a href="{{post.url}}">Read more...</a>
	{% endfor %}

	<div class="separator_line"></div>
	<h1 class="note_header">Notes</h1>

	{% for note in site.notes %}

	<div class="excerpt">
		<h1 class="note--title">{{note.title}}</h5>
		<h4 class="note--sub">{{note.meta}} by {{note.author}}</h4>

		{{note.content}}

	</div>
	<a href="{{note.url}}">Read more...</a>

	{% endfor %}
</section>

