/*
	app.css by Raghav Kukreti
	Copyright 2013-2014

	Much CSS.
	So lines.
	Very time.
	Wow.

	*liek if u cri everyteim*
*/

@import url(http://fonts.googleapis.com/css?family=EB+Garamond);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

$em-base: 16 !default;

// It strips the unit of measure and returns it
@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

// Converts "px" to "em" using the ($)em-base
@function convert-to-em($value)  {
  $value: strip-unit($value) / strip-unit($em-base) * 1em;
  @if ($value == 0em) { $value: 0; } // Turn 0em into 0
  @return $value;
}

// Working in ems is annoying. Think in pixels by using this handy function, emCalc(#)
// Just enter the number, no need to mention "px"
@function emCalc($values...) {
  $max: length($values); // Get the total number of parameters passed

  // If there is only 1 parameter, then return it as an integer.
  // This is done because a list can't be multiplied or divided even if it contains a single value
  @if $max == 1 { @return convert-to-em(nth($values, 1)); }

  $emValues: (); // This will eventually store the converted $values in a list
  @for $i from 1 through $max {
    $emValues: append($emValues, convert-to-em(nth($values, $i)));
  }
  @return $emValues;
}





::-webkit-scrollbar-track
{
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 10px;
    background:#2980b9;
}

::-webkit-scrollbar-thumb
{
    background-color: #696969;
    
    background-image: -webkit-gradient(linear, 0 0, 0 100%,
                       color-stop(.5, rgba(255, 255, 255, .2)),
                       color-stop(.5, transparent), to(transparent));
}


::selection {
	background: rgba(0,0,0,0.6);
	color: #fff; 
}

@font-face {
	font-family: 'Avenir';
	src: url(fonts/Avenir.ttf);
}

@font-face {
	font-family: 'Centaur';
	src: url(fonts/centaur.ttf);
}

@font-face {
	font-family: 'Novecento';
	src: url(fonts/Novecentowide-Bold-webfont.ttf);
}

@font-face {
    font-family: 'Nexa Bold';
    src: url(fonts/nexa.ttf);
    font-weight: normal;
    font-style: normal;
}

//Declaring vars and shizz
	$prim-color: #2c3e50;
	$sec-color: #747474;

//Media query vars

	$small-screen: 768px;
	$medium-screen: 1280px;
	$large-screen: 1440px;

	$screen: "only screen";
	$small: "only screen and (max-width: #{$small-screen})";
	$medium: "only screen and (min-width: #{$medium-screen})";
	$large: "only screen and (min-width: #{$large-screen})";
	$landscape: "only screen and (orientation: landscape)";
	$portrait: "only screen and (orientation: portrait)";

*::after,
*::before,
* {
	box-sizing: border-box;
} 

* {
	transition: all 0.26s ease-in-out !important;
}

html {
	-webkit-font-smoothing: antialiased;
}

html,body {
	font-size: 100%;
}

body {
	background: #fff;
	font-family: '','Bell MT', 'EB Garamond', serif;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Novecento', sans-serif;
	font-weight: normal;
	font-style: normal;
	color: $prim-color;
	text-rendering: optimizeLegibility;
	margin-top: 0.2em;
	margin-bottom: 0.5em;
	line-height: 1.2125em;
}
h1{ font-size: emCalc(44px);}
h2{ font-size: emCalc(37px);}
h3{ font-size: emCalc(27px);}
h4{ font-size: emCalc(23px);}
h5{ font-size: emCalc(18px);}
h6{ font-size: 1em;}

code {
	background: #ff0073;
	font-family: 'Monaco', Liberation Mono, Consolas, courier-new, sans-serif;
	font-size: 1.2rem;
	overflow: auto;
	word-wrap: break-word;
}

.animated {
	animation-fill-mode: both;
	animation-duration: 0.66s;
}

@keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

.fadeIn {
	-webkit-animation-name: fadeIn;
	-moz-animation-name: fadeIn;
	-o-animation-name: fadeIn;
	animation-name: fadeIn;
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

.fadeInDown {
	-webkit-animation-name: fadeInDown;
	-moz-animation-name: fadeInDown;
	-o-animation-name: fadeInDown;
	animation-name: fadeInDown;
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fadeInUp {
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp;
}

@keyframes slideInLeft {
	0% {
		opacity: 0;
		transform: translateX(-2000px);
	}
	
	100% {
		transform: translateX(0);
	}
}

.slideInLeft {
	-webkit-animation-name: slideInLeft;
	-moz-animation-name: slideInLeft;
	-o-animation-name: slideInLeft;
	animation-name: slideInLeft;
}

@keyframes rotateDownRight {
	0% {
		transform-origin: right bottom;
		transform: rotate(90deg);
		opacity: 0;
	}
	
	100% {
		transform-origin: right bottom;
		transform: rotate(0);
		opacity: 1;
	}
}

.rotateDownRight {
	-webkit-animation-name: rotateDownRight;
	-moz-animation-name: rotateDownRight;
	-o-animation-name: rotateDownRight;
	animation-name: rotateDownRight;
}

a {
	color: $sec-color;
	text-decoration: none;
	border-bottom: 1px solid;
	// padding-bottom: 0.59rem;

	& img {
		border: none;
		outline: none;
	}

	&:hover,
	&:focus {
		color: #696969;
	}

	&:focus {
		outline: thin dotted;
	}
}

ul {
	line-height: 1.7;
	font-size: 1.2rem;			
	li {
		list-style: none;
			a {
				color: inherit;
				text-decoration: none;
			}
		}
	}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    border-width: 1px;
	border-style: solid;
	border-color: #ddd;
}


.main {
	text-shadow: 1px 0px 1px rgba(#000, 0.1);
	text-align: center;
	padding: 1.1rem 0;
	padding:4.4rem;
	min-height: 100%;
	width: 100%;
	display: table;
	color: #fff;
	background: url(../img/wow.jpeg) bottom center fixed no-repeat;
	background-size: cover;	
	@media #{$small} { 
		padding: 2rem 2rem;
	}

	.centered {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		
		h1 {
			font-size: 3.4rem;
			color: #fff;
			text-transform: uppercase;
			margin-bottom: 1.8rem;
			text-shadow: 1px 0px 10px rgba(0,0,0,0.5);
				@media #{$small} { 
					font-size: 2.4rem;
					color: #fff;
					text-shadow: 1px 0px 2px rgba(#000, 0.5);
				}

		}

		nav {
			animation-delay: 0.77s; 
			ul {
				padding: 0;
				word-spacing: 1.3rem;
				
				li {
				@media #{$small} { 
					font-size: 0.88rem;
				}					
					list-style: none;
					display: inline;
					font-size: 1.2rem;
					text-transform: uppercase;
						a {
							color: inherit;
							text-decoration: none;
							padding-bottom: 0.59rem;
							border: none;
							&:hover {
								color: darken(#fff, 30%);
							}
						}
					}
				}
			} 
		}
	}

p.lead {
	font-size: 1.55rem;
	line-height: 1.56;
	font-style: normal;
	text-rendering: optimizeLegibility;

}

.blog {
	padding: 4.1rem 10.5rem;
	min-height: 100%;
	width: 100%;
	display: table;

	animation-delay: 1.4s;

	.sm-div {
		width: 106px;
		height: 1px; 
		background: #ccc;
	}

	@media #{$small} { 
		padding: 1em 2rem;
	}
	
	h1 {
		font-size: 1.8rem;

		-webkit-text-stroke: 0.2px;
	}

	.work-wrap {
		padding-bottom: 10.4rem;
	}

	.proj-h {
		font-size: 1.7rem;
	}
	.date {
		color: $sec-color;
		font-family: 'Bell MT';
		font-style: italic;
		font-size: 1.1rem;
		padding-bottom: 10px;
			&::before {
				content: '~';
			}
	}
	
	.posts {
		h5 {
			padding: 1.1rem 0;
		}

		li a {
			border: none;
			&:hover {
				margin-left: 10px;
			}
		}
	}
	.work {
		width: 43.3333%;
		height: 400px;

				@media #{$small} { 
					width: 100%;
				}		
		&:hover {
			opacity: 0.8;
			background-position:top left;
		}
	}

	.img1 {
		background: url(../img/clean.png) center no-repeat;
		background-size: cover;
		float: left;
		margin-right: 3.5rem;

		background-position: left top;

		&:hover {
			background-position: right top;
		}
}

	.img2 {
		background: url(../img/clean.png) left no-repeat;
		background-size: cover;

		float: right;
		margin-left: 3.5rem;

	}

	.img3 {
		background: url(../img/high.png) left no-repeat;
		background-size: cover;

		float: left;
		margin-right: 3.5rem;

		&:hover {
			background-position: right top;
		}
	}
	.img4 {
		background: url(../img/faggotbansal.png) left no-repeat;
		background-size: cover;

		float: right;
		margin-left: 3.5rem;

		&:hover {
			background-position: right top;
		}
	}
}



q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

blockquote {
	color: lighten(#222, 30%);
	padding: emCalc(9px) emCalc(20px) 0 emCalc(19px);
	font-size: 1.2rem;
	border-left: 1px solid #ddd;

}

.end {
	transform: rotate(-90deg);
	font-size: 3.2rem;
	position: absolute;
	left: 50%;
	-webkit-text-stroke: -1px;

	text-rendering: optimizeLegibility;
}

@keyframes slideInLeft {
	0% {
		opacity: 0;
		transform: translateX(-2000px);
	}
	
	100% {
		transform: translateX(0);
	}
}

.slideInLeft {
	-webkit-animation-name: slideInLeft;
	-moz-animation-name: slideInLeft;
	-o-animation-name: slideInLeft;
	animation-name: slideInLeft;
}


.flatb {
	background: transparent;
	border: 2px solid #787; 
	color: #787878;
	font-family: 'Novecento';
	font-size: 1.1rem;

	padding: 10px 50px;
	&:hover {
		background: darken(#00adef, 10%); 
		color: #fff;
		border: 2px solid; 
	}
}

#contact {
	.center{
		text-align: center;
	}
	article {
		p.lead{
			a{
				border: none;
			}
		}
	}
}

@keyframes fadeIn {
	0%{opacity: 0;}
	100%{opacity: 1;}	
}

.fadeIn {
	animation: fadeIn 1s linear;
}

.beautybutton {
	background: #f65;
	border: 1px solid #fff;
	color: #fff;
	padding: 14pt 50pt;
	border-radius: 6pt;
	letter-spacing: 0.2pt;
	font-size: 20ptpt;

	&:hover {
		background:lighten(#ff6655, 3%);
		color: #fff !important;
	}
}

.bigimage {
	width: 900px;
	height: 500px;

	vertical-align: middle;
	display: inline-block;
}

.chinese {
	background: url(../img/chinese.jpg) center center no-repeat;
}
