::-webkit-input-placeholder {
  color: #fff; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #fff; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff; }

:-ms-input-placeholder {
  color: #fff; }

::-moz-selection {
  color: #fff;
  background: rgba(34, 34, 34, 0.44); }

::selection {
  color: #fff;
  background: rgba(34, 34, 34, 0.44); }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  background: #5c1212;
  margin: 0; }

body.white {
  background: white !important; }

a {
  background: transparent; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

h1 {
  margin: .67em 0;
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  height: 0;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

mark {
  color: #000;
  background: #ff0; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  padding: .35em .625em .75em;
  margin: 0 2px;
  border: 1px solid #c0c0c0; }

legend {
  padding: 0;
  border: 0; }

button,
input,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

@media print {
  * {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 2cm .5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; }

  select {
    background: #fff !important; }

  .navbar {
    display: none; }

  .table td,
  .table th {
    background-color: #fff !important; }

  .btn > .caret,
  .dropup > .btn > .caret {
    border-top-color: #000 !important; }

  .label {
    border: 1px solid #000; }

  .table {
    border-collapse: collapse !important; }

  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important; } }
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased; }

::-webkit-scrollbar-track {
  background-color: #222; }

::-webkit-scrollbar {
  width: 10px;
  background: #ff4056; }

::-webkit-scrollbar-thumb {
  background-color: #ff4056;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.5, transparent), to(transparent)); }

* {
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out; }

html {
  font-size: 62.5%; }

img {
  vertical-align: middle; }

p {
  margin: 0 0 10px; }

p.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.4; }

@media (min-width: 768px) {
  .lead {
    font-size: 21px; } }
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

body {
  padding: 0;
  margin: 0;
  position: relative;
  color: #333;
  font-family: Raleway; }

#home {
  background: url(../images/yow.png) fixed;
  background-position: -90% 90%;
  min-height: 100vh;
  width: 100%; }

#home > .container .tagline-wrapper .tagline:first-child {
  margin-bottom: 8px; }

@media screen and (max-height: 825px) {
  #home > .container .tagline-wrapper .tagline {
    font-size: 40px; } }
@media screen and (max-width: 1399px) {
  #home > .container .tagline-wrapper .tagline {
    font-size: 45px; } }
#home > .container .small-tagline {
  font-size: 22px;
  line-height: 30px;
  max-width: 550px;
  color: #757575;
  word-wrap: nowrap;
  font-family: 'Crimson Text';
  -webkit-font-smoothing: antialiased; }

a {
  text-decoration: none;
  color: #ff4056;
  border-bottom: 2px solid transparent; }
  a:hover {
    color: #ff0d29;
    border-bottom: 2px solid;
    text-decoration: none !important; }

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat; }

.row {
  margin-right: -15px;
  margin-left: -15px; }

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }
@media (min-width: 992px) {
  .container {
    width: 970px; } }
.col-md-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  float: left; }

@media (min-width: 1200px) {
  .container {
    width: 1170px; } }
#nav-wrapper {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 50; }

#menu-btn {
  font-size: 1.7rem; }

#nav-inner div {
  border: 1px solid rgba(105, 105, 105, 0.5);
  color: rgba(255, 255, 255, 0.8);
  background: #0a0a0a;
  text-align: center;
  padding: 17px;
  height: 50px; }

#nav-inner div, #nav-inner li {
  width: 150px;
  margin: 1px 0;
  cursor: pointer; }

#nav-inner ul {
  overflow: hidden; }

ol, ul {
  list-style: none; }

#nav-inner li {
  font-size: 1.5rem;
  -webkit-transition: left .2s;
  transition: left .2s;
  color: rgba(0, 0, 0, 0.9);
  background: rgba(255, 255, 255, 0.95);
  position: relative;
  font-weight: bold;
  padding: 10px 17px;
  height: 35px;
  left: -150px; }
  #nav-inner li a {
    color: rgba(0, 0, 0, 0.9); }
    #nav-inner li a:hover {
      border: none; }

#nav-inner div:hover, #nav-inner li:hover {
  background: #ffd130;
  -webkit-box-shadow: inset 0px 0px 13px rgba(255, 209, 48, 0.8);
  box-shadow: inset 0px 0px 13px rgba(255, 209, 48, 0.8);
  color: rgba(255, 255, 255, 0.8); }

#music-player-wrapper {
  width: 250px;
  padding: 0 15px;
  height: 35px;
  display: block;
  position: fixed;
  top: 30px;
  right: 10px;
  z-index: 70;
  overflow: hidden; }

#music-player-wrapper #heading-wrapper {
  padding: 10px 20px;
  background: url("../images/music-controls-heading.png") right -4px no-repeat, #323232;
  _background: url("../images/music-controls-heading.png") right -46px no-repeat, #323232;
  color: rgba(255, 255, 255, 0.9);
  letter-spacing: 2px;
  cursor: pointer;
  font-size: 15px; }

#music-player-wrapper #player-wrapper {
  height: 50px;
  width: 100%;
  background: #111111;
  text-align: right; }

#music-player-wrapper #player-wrapper .music-buttons {
  width: 30px;
  height: 30px;
  border: 1px solid gray;
  display: inline-block;
  margin: 10px 5px;
  cursor: pointer; }

.music-buttons#play {
  background: url("../images/music-controls.png") 6px -21px no-repeat; }

.music-buttons#stop {
  background: url("../images/music-controls.png") -36px 3px no-repeat; }

.music-buttons#stop:hover {
  background: url("../images/music-controls.png") -36px -21px no-repeat; }

#song-name {
  font-size: 14px;
  float: left;
  color: rgba(250, 250, 250, 0.8);
  padding: 18px 8px; }

#music-player-wrapper #music-wrapper {
  padding: 5px 10px;
  background: rgba(81, 187, 255, 0.8);
  height: 115px; }

#music-player-wrapper #music-wrapper li {
  padding: 5px 0 5px 10px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

#music-player-wrapper #music-wrapper li:hover {
  margin-left: 10px;
  background: rgba(200, 200, 200, 0.3); }

#music-player-wrapper #youtube-link a {
  display: block;
  background: red;
  text-align: center;
  color: #f0f0f0;
  padding: 8px;
  font-size: 1.4rem; }

#music-player-wrapper #youtube-link a:hover {
  background: rgba(255, 0, 0, 0.8); }

#home > .container .tagline-wrapper .tagline {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-style: normal;
  zoom: 0.99;
  font-size: 50px;
  color: #ffffff;
  margin: 0;
  float: none;
  clear: both; }
  #home > .container .tagline-wrapper .tagline span {
    color: #ff4056; }

.align-right {
  text-align: right; }

.cleaner {
  clear: both;
  float: none; }

.section {
  height: 80vh;
  display: table;
  width: 100%; }
  .section .centered {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }

@media screen and (max-height: 800px) {
  #home > .container .tagline-wrapper {
    margin-top: 60px; }

  #home > .container .tagline-wrapper {
    margin-bottom: 39px;
    margin-top: 159px; }

  .tagline-wrapper {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0); } }
#home .button {
  display: inline-block;
  margin-top: 35px; }

.button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 9pt;
  text-transform: uppercase;
  color: #ffffff;
  border: 2px solid;
  border-radius: 3px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: url("../images/arrow-white.png") 90% 50% no-repeat;
  padding: 13px 40px 14px 15px;
  letter-spacing: 2px; }
  .button:hover {
    color: #ff4056;
    text-decoration: none; }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  visibility: visible !important; }

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0); }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0); }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 40%, 0);
    transform: translate3d(0, 40%, 0); }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 40%, 0);
    transform: translate3d(0, 40%, 0); }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px); }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px); } }
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px); }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px); } }
.no-delay {
  -webkit-animation-delay: 0 !important;
  animation-delay: 0 !important; }

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-delay: 1.3s;
  animation-delay: 1.3s;
  visibility: visible !important; }

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
  visibility: visible !important; }

@media screen and (max-width: 975px) {
  #home > .container .tagline-wrapper .tagline {
    font-size: 45; } }
#lel, #lel2 {
  visibility: hidden; }

#about {
  padding: 10em 20em;
  text-align: left;
  width: 100%;
  visibility: hidden;
  background: #040404; }
  #about .section-heading {
    font-weight: 100;
    font-size: 80px;
    letter-spacing: -0.09em;
    color: #51bbff; }
  #about .section-description {
    padding-top: 50px;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 30px;
    color: #fcfcfc; }

@media screen and (max-width: 900px) {
  #about {
    padding: 20px 30px; } }
.separator {
  height: 500px; }
  .separator .info {
    padding: 10px;
    color: #f6f6f6;
    width: 25%;
    font-size: 1.6rem;
    vertical-align: middle;
    border-bottom-right-radius: 5px;
    background: rgba(0, 0, 0, 0.8); }
  .separator .information {
    font-size: 1.2rem;
    padding: 10px;
    color: #f6f6f6;
    width: 15%;
    vertical-align: middle;
    border-bottom-right-radius: 5px;
    background: rgba(0, 0, 0, 0.8); }

.separator-1 {
  -webkit-background-size: cover;
  background-size: cover;
  background: url(../images/wowo.jpg) center center no-repeat fixed; }

.separator-2 {
  -webkit-background-size: cover;
  background-size: cover;
  background: url(../images/yow.jpg) center center no-repeat fixed; }

.separator-3 {
  -webkit-background-size: cover;
  background-size: cover;
  background: url(../images/kek.jpg) center center fixed; }

.separator-4 {
  -webkit-background-size: cover;
  background-size: cover;
  background: url(../images/kitsune.jpg) center center no-repeat fixed; }

.music {
  padding: 10px 0;
  padding-bottom: 20px;
  height: 140vh;
  background: #040404; }
  .music h1 {
    position: relative;
    width: 800px;
    font-family: Raleway;
    font-weight: 100;
    margin: 40px 0;
    text-transform: uppercase;
    left: 0px;
    font-size: 80px;
    letter-spacing: -5px;
    color: #51bbff; }
  .music .wrap {
    width: 90%;
    margin: 0 auto; }
  .music .image--wrap {
    visibility: hidden; }
    .music .image--wrap div {
      cursor: pointer; }
      .music .image--wrap div:hover {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0.8; }
    .music .image--wrap .one {
      border-left: 1px solid #444;
      border-top: 1px solid #444;
      background: url(../images/01.jpg) center;
      float: left;
      width: 33.333%;
      -webkit-background-size: cover;
      background-size: cover;
      height: 391px;
      overflow: hidden; }
    .music .image--wrap .two {
      background: url(../images/02.jpg) center center;
      float: left;
      width: 33.333%;
      -webkit-background-size: cover;
      background-size: cover;
      height: 391px;
      overflow: hidden; }
    .music .image--wrap .three {
      background: url(../images/03.jpg);
      float: left;
      width: 33.333%;
      -webkit-background-size: cover;
      background-size: cover;
      height: 391px;
      overflow: hidden; }
    .music .image--wrap .four {
      background: url(../images/04.jpg) center center;
      -webkit-background-size: cover;
      background-size: cover;
      float: left;
      width: 33.333%;
      height: 391px;
      overflow: hidden; }
    .music .image--wrap .five {
      background: url(../images/05.jpg);
      -webkit-background-size: cover;
      background-size: cover;
      float: left;
      width: 33.333%;
      height: 391px;
      overflow: hidden; }
    .music .image--wrap .six {
      background: url(../images/06.jpg);
      -webkit-background-size: cover;
      background-size: cover;
      float: left;
      width: 33.333%;
      height: 391px;
      overflow: hidden; }

.tour-dates {
  background: #040404;
  height: auto;
  padding: 50px 200px; }
  .tour-dates h1 {
    position: relative;
    width: 800px;
    font-family: Raleway;
    font-weight: 100;
    text-transform: uppercase;
    left: 0px;
    font-size: 80px;
    letter-spacing: -0.09em;
    color: #51bbff; }
  .tour-dates .schedule-description {
    margin-top: 10px;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 30px;
    color: #fcfcfc; }

table {
  width: 100%;
  margin: 0 auto; }

table.up {
  visibility: hidden; }
  table.up tr:nth-child(even) {
    background: rgba(81, 187, 255, 0.3); }
  table.up tr:nth-child(odd) {
    background: rgba(81, 187, 255, 0.4); }
  table.up tr:hover {
    -webkit-box-shadow: 0 0 10px #51bbff;
    box-shadow: 0 0 10px #51bbff;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05); }

table.down {
  visibility: hidden; }

tr.header {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03); }
  tr.header:hover {
    -webkit-transform: scale(1.03) !important;
    -ms-transform: scale(1.03) !important;
    transform: scale(1.03) !important; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

tr td, th {
  padding: 20px; }

td.date {
  text-align: right; }

th {
  background: #fafafa;
  color: #020202;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); }

tr:nth-child(even) {
  background: rgba(20, 20, 20, 0.5); }

.touch {
  padding: 50px 200px; }
  .touch h1 {
    position: relative;
    width: 800px;
    font-family: Raleway;
    font-weight: 100;
    margin: 20px 0;
    text-transform: uppercase;
    left: 0px;
    font-size: 80px;
    letter-spacing: -10px;
    color: #fff; }
  .touch p.lead.happy {
    background: #2ecc71;
    font-family: Montserrat;
    font-size: 1.9rem;
    opacity: 0;
    display: none;
    color: #f6f6f6;
    margin-top: 50px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 9px rgba(46, 204, 113, 0.55);
    box-shadow: 0px 0px 9px rgba(46, 204, 113, 0.55); }
  .touch #form {
    margin: 40px 10px; }
    .touch #form input, .touch #form textarea {
      width: 100%;
      resize: none;
      display: block;
      padding: 2rem 1.25em;
      background: rgba(255, 255, 255, 0.3);
      border: 5px solid rgba(255, 255, 255, 0);
      font-size: 1.9em;
      margin-top: 1.2em;
      -webkit-transition: all .3s ease;
      transition: all .3s ease;
      border-radius: 20px; }
      .touch #form input:hover, .touch #form textarea:hover {
        background: rgba(255, 255, 255, 0.5); }
      .touch #form input:focus, .touch #form textarea:focus {
        border-radius: 0;
        border: 5px solid rgba(255, 255, 255, 0.3);
        outline: none;
        background: white; }
    .touch #form input[type="submit"] {
      border: 15px solid #e69500;
      background: transparent;
      color: #d18700;
      border-radius: px;
      font-family: Montserrat;
      position: relative;
      -webkit-transition: background 0.35s ease-in-out;
      transition: background 0.35s ease-in-out;
      text-transform: uppercase;
      -webkit-box-shadow: 0px 7px 0px #cc8400;
      box-shadow: 0px 7px 0px #cc8400; }
      .touch #form input[type="submit"]:hover {
        background: rgba(255, 165, 0, 0.3); }
      .touch #form input[type="submit"]:active {
        -webkit-box-shadow: 0px 2px 0px #cc8400;
        box-shadow: 0px 2px 0px #cc8400;
        top: 7px; }

#contact {
  visibility: hidden;
  background: -webkit-linear-gradient(120deg, #f09819 30%, #edde5d 90%);
  /* Chrome 10+, Saf5.1+ */
  /* FF3.6+ */
  /* IE10 */
  /* Opera 11.10+ */
  background: -webkit-linear-gradient(330deg, #f09819 30%, #edde5d 90%);
  background: linear-gradient(120deg, #f09819 30%, #edde5d 90%);
  /* W3C */ }

footer {
  padding: 50px 40px;
  -webkit-columns: 3;
  -moz-columns: 3;
  columns: 3;
  background: #020202; }
  footer h1 {
    position: relative;
    font-family: Raleway;
    font-weight: 100;
    margin: 20px 0;
    text-transform: uppercase;
    left: 0px;
    font-size: 80px;
    letter-spacing: -5px;
    color: #51bbff; }
  footer .contact-description {
    padding-left: 50px;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 30px;
    color: #fcfcfc; }
    footer .contact-description p > img:nth-child(2) {
      margin: 0 25px; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }

  25% {
    opacity: 0.75;
    height: 300px; }

  50% {
    opacity: 0.5;
    height: 240px; }

  75% {
    opacity: 0.25;
    height: 140px; }

  100% {
    opacity: 0;
    height: 40px; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }

  25% {
    opacity: 0.75;
    height: 300px; }

  50% {
    opacity: 0.5;
    height: 240px; }

  75% {
    opacity: 0.25;
    height: 140px; }

  100% {
    opacity: 0;
    height: 40px; } }
.fadeOut {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

.small {
  height: 40px; }

.blog--hero {
  background: url(../images/kek.jpg) bottom center no-repeat fixed;
  padding: 20px;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: right;
  height: 80vh;
  text-align: center;
  width: 100%;
  display: table; }
  .blog--hero .blog--hero__contain {
    display: table-cell;
    vertical-align: middle;
    font-size: 2.8rem;
    color: #f6f6f6; }
    .blog--hero .blog--hero__contain h1 > span {
      color: goldenrod; }
    .blog--hero .blog--hero__contain p.lead {
      font-size: 22px;
      line-height: 30px;
      padding: 0 35rem;
      color: #757575;
      word-wrap: nowrap;
      font-family: 'Crimson Text';
      -webkit-font-smoothing: antialiased; }

.blog {
  padding: 6rem 25rem; }
  .blog .blog--article {
    font-size: 1.6rem;
    margin-bottom: 40px;
    padding: 30px 50px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }
    .blog .blog--article:hover {
      -webkit-box-shadow: 0 0 13px rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 13px rgba(0, 0, 0, 0.3); }
    .blog .blog--article .blog--article__header {
      font-size: 3.3rem;
      letter-spacing: -2px; }
      .blog .blog--article .blog--article__header a {
        color: #555;
        border-bottom: none; }
        .blog .blog--article .blog--article__header a:hover {
          color: #e4b849;
          border-bottom: none;
          text-shadow: 0px 0px 7px rgba(218, 165, 32, 0.24); }
    .blog .blog--article .blog--article__meta {
      font-family: Crimson Text;
      color: #d4d4d4;
      font-style: italic; }
    .blog .blog--article .blog--article__info {
      line-height: 1.5;
      font-family: Crimson Text;
      font-size: 2.1rem;
      letter-spacing: -.5px; }
    .blog .blog--article .blog--article__buttons {
      margin-top: 30px; }
      .blog .blog--article .blog--article__buttons a {
        color: darkgoldenrod;
        border: 3px solid goldenrod;
        background: transparent;
        padding: 10px 20px; }
        .blog .blog--article .blog--article__buttons a:active, .blog .blog--article .blog--article__buttons a:focus {
          -webkit-box-shadow: 0 0 17px rgba(255, 215, 0, 0.7);
          box-shadow: 0 0 17px rgba(255, 215, 0, 0.7); }
        .blog .blog--article .blog--article__buttons a:hover {
          background: goldenrod;
          color: #fff;
          border: 3px solid goldenrod; }

.register {
  text-align: center;
  padding: 20px;
  background: -webkit-linear-gradient(90deg, #eb3349 10%, #f45c43 90%);
  /* Chrome 10+, Saf5.1+ */
  /* FF3.6+ */
  /* IE10 */
  /* Opera 11.10+ */
  background: -webkit-linear-gradient(0deg, #eb3349 10%, #f45c43 90%);
  background: linear-gradient(90deg, #eb3349 10%, #f45c43 90%);
  /* W3C */
  -webkit-background-size: cover;
  background-size: cover;
  height: 40vh;
  display: table;
  width: 100%; }
  .register .registrar {
    display: table-cell;
    vertical-align: middle; }
    .register .registrar span {
      display: block;
      font-size: 17px;
      text-transform: uppercase;
      font-weight: bold;
      margin-top: 20px;
      margin-bottom: 20px;
      letter-spacing: 1px;
      color: #fff;
      font-family: Montserrat; }
    .register .registrar input[type="text"] {
      background-color: rgba(255, 255, 255, 0.5);
      border: solid 1px #fff;
      font-size: 1.4rem;
      padding: 20px;
      width: 30%;
      font-family: Montserrat;
      color: #222; }
      .register .registrar input[type="text"]:focus, .register .registrar input[type="text"]:active {
        outline: none;
        background: rgba(255, 255, 255, 0.9); }
    .register .registrar input[type="submit"] {
      background: transparent;
      border: 4px solid #fff;
      padding: 17px;
      color: #fff;
      font-size: 1.5rem;
      text-transform: uppercase;
      letter-spacing: 1px; }
      .register .registrar input[type="submit"]:focus, .register .registrar input[type="submit"]:active, .register .registrar input[type="submit"]:hover {
        outline: none;
        background: rgba(218, 165, 32, 0.8);
        border: solid 4px rgba(218, 165, 32, 0.8); }

article {
  padding: 10em 30em; }
  article h1.article--header {
    font-size: 3.5rem;
    letter-spacing: -2px;
    margin-bottom: 0; }
  article h3.article--meta {
    color: #999;
    font-size: 1.4rem;
    padding: 10px 0px;
    font-family: Crimson Text;
    font-style: italic;
    margin-bottom: 10px; }
  article p.article--content {
    max-width: 800px;
    font-size: 2.1rem;
    font-family: Crimson Text;
    line-height: 1.8; }
  article .gallery {
    display: table;
    width: 100%;
    margin-top: 30px; }
    article .gallery img:nth-child(1):hover {
      -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
      transform: scale(1.05); }
    article .gallery img:hover {
      -webkit-transform: scale(2);
      -ms-transform: scale(2);
      transform: scale(2); }
    article .gallery .me {
      height: 30%;
      width: 100%; }
    article .gallery .small {
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      height: 10%;
      width: 30%; }
    article .gallery .med {
      height: 10%;
      width: 17.5%;
      border-top: 1px solid rgba(255, 255, 255, 0.3); }
    article .gallery .adjust {
      height: 10%;
      width: 13.5%; }

.button--lol {
  background: transparent;
  color: #222;
  border: 2px solid #222;
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: Montserrat; }
  .button--lol:after {
    content: "    >"; }
  .button--lol:hover {
    background: #222;
    color: #fff;
    border-bottom: 2px solid #222; }

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-60px);
    transform: translateY(-60px); }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-60px);
    transform: translateY(-60px); }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }
.slideDown {
  -webkit-animation-name: slideDown;
  animation-name: slideDown; }

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }

  100% {
    -webkit-transform: translateY(-60px);
    transform: translateY(-60px); } }

@keyframes slideUp {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }

  100% {
    -webkit-transform: translateY(-60px);
    transform: translateY(-60px); } }
.slideUp {
  -webkit-animation-name: slideUp;
  animation-name: slideUp; }

.success--message {
  background: #2ecc71;
  margin: 0;
  font-size: 1.4rem;
  padding: 10px 30px;
  position: fixed;
  left: 37%;
  vertical-align: middle;
  -webkit-box-shadow: 0px 0px 13px rgba(46, 204, 113, 0.33);
  box-shadow: 0px 0px 13px rgba(46, 204, 113, 0.33);
  color: #fff;
  font-family: Montserrat;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 400px;
  -webkit-transform: translateY(-60px);
  -ms-transform: translateY(-60px);
  transform: translateY(-60px); }
  .success--message .close {
    float: right;
    font-family: Raleway;
    border: 1px solid #fff;
    padding: 2px 7px;
    cursor: pointer;
    border-radius: 50%; }
    .success--message .close:hover {
      background: #fff;
      color: #222; }

.blog--link {
  background: #fff !important; }
