---
---
// @import "main";
@import "fruity.css";

:root {
	--light-blue: #0099FF;
	--dark-blue: #040A22;
	--black: #202020;

}


*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body,
html {
	font-size: 100%;
	font-family: 'IBM Plex Mono';
	font-weight: 300;
	color: var(--black);
}

@keyframes invertidek {
	0% {
		filter: invert(0);
	}
	100% {
		filter: invert(1);
	}
}

.animated {
	animation-duration: infinite;
	animation-fill-mode: both;
}
h1,
h2,
h3 {
	font-family: 'Prata';
	font-weight: normal;	
}

h4,
h5,
h6 {
	font-family: 'IBM Plex Mono';
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: .5px;
}

a {
	color: var(--light-blue);
	text-decoration: none;
	&:hover {
		color: var(--dark-blue);
	}
}

nav {
	background: #fff;
	padding: 3rem;
	position: fixed;
	width: 100%;
	display: flex;
	z-index: 100;
	.logo {
		display: flex;
		flex: 1;
		a {
			color: #222 !important;
			text-decoration: none;
			transition: all .35s ease-in-out;
			filter: blur(0);
			&:hover {
				filter: blur(3px);
			}
		}
		// float: left;	
	}

	.links {
			text-align: right;

			justify-content: flex-end; 
			flex: 1;
		li {
			display: inline;
			width: auto;
			margin-right: 30px;
		}
	}
}

ul {
	list-style-type: none;
}


.sidebar {
	padding: 0 3rem;
	height: 100vh;
	width: 30vw;
	position: fixed;
	left: 0;
	// background: #f6f6f6;
	.wrapper {
		position: absolute;
		bottom: 10vh;
		.text {
			width: 80%;
			h4 {		
				margin-bottom: 1.25vh;
				opacity: .9;
			}
		}
	}
	
	.image {
		width: 200px;
		height: 200px;
		// filter:  invert(1);
		margin-bottom: 5vh;
		// opacity: .5;
		background: url('/assets/img/me.jpg') center center no-repeat;
		background-size: cover;
		border-radius: 10px;
		animation-name: invertidek;

	}
}


.excerpts {
	position: relative;	
	left: 30vw;
	top: 20vh;

	width: 50vw;
}


.excerpt {
	h1 {
		margin-bottom: 10px;	
		font-size: 2rem;
	}

	h4 {
		opacity: .4;
		font-weight: 300;
		margin-bottom: 30px;
	}
}

.lead {
	line-height: 1.333333;
}


.post {
	top: 20vh;
	position: relative;
	width: 40vw;
	margin: 0 auto;
	.inner {
		width: 100%;
		h1 {
			margin-bottom: 10px;	
			font-size: 2rem;
		}

		h4 {
			opacity: .4;
			font-weight: 300;
			margin-bottom: 30px;
		}
		.content {
			p {
				line-height: 1.333333;
				padding-bottom: 20px;
			}
		}
	}
}

.code {

}