---
---
// @import "main";
@import "fruity.css";

:root {
	--light-blue: #0099FF;
	--dark-blue: #040A22;
	--black: #202020;

}


*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body,
html {
	font-size: 100%;
	font-family: 'IBM Plex Mono';
	font-weight: 300;
	color: var(--black);
}


.animated {
	animation-duration: infinite;
	animation-fill-mode: both;
}
h1,
h2,
h3 {
	font-family: 'Prata';
	font-weight: normal;	
}

h4,
h5,
h6 {
	font-family: 'IBM Plex Mono';
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: .5px;
}

a {
	color: var(--light-blue);
	text-decoration: none;
	&:hover {
		color: var(--dark-blue);
	}
}

nav {
	background: #fff;
	padding: 2rem 3rem;
	position: fixed;
	width: 100%;
	box-shadow: 0px 1px 0px rgba(#000, 0.1);
	display: flex;
	z-index: 100;
	.logo {
		display: flex;
		flex: 1;
		a {
			color: #222 !important;
			text-decoration: none;
			transition: all .35s ease-in-out;
			filter: blur(0);
			&:hover {
				filter: blur(3px);
			}
		}
		// float: left;	
	}

	.links {
			text-align: right;

			justify-content: flex-end; 
			flex: 1;
		li {
			display: inline;
			width: auto;
			margin-right: 30px;
		}
	}
}

ul {
	list-style-type: none;
}


.sidebar {
	padding: 0 3rem;
	height: 100vh;
	width: 30vw;
	position: fixed;
	left: 0;
	// background: #f6f6f6;
	.wrapper {
		position: absolute;
		bottom: 10vh;
		.text {
			width: 80%;
			h4 {		
				margin-bottom: 1.25vh;
				opacity: .9;
			}
		}
	}
	
	.image {
		width: 200px;
		height: 200px;
		filter:  invert(1);
		margin-bottom: 5vh;
		// opacity: .5;
		background: url('/blog/assets/img/me.jpg') center center no-repeat;
		background-size: cover;
		border-radius: 10px;

	}
}


.excerpts {
	position: relative;	
	left: 30vw;
	top: 20vh;

	width: 50vw;
}


.excerpt {
	margin-bottom: 10px;
	h1 {
		margin-bottom: 10px;	
		font-size: 2rem;
	}

	h4 {
		opacity: .4;
		font-weight: 300;
		margin-bottom: 30px;
	}
}

.lead {
	line-height: 1.333333;
	margin-bottom: 10px;
}


.post {
	top: 20vh;
	position: relative;
	width: 40vw;
	margin: 0 auto;
	.inner {
		width: 100%;
		h1 {
			margin-bottom: 10px;	
			font-size: 2rem;
		}

		h4 {
			opacity: .4;
			font-weight: 300;
			margin-bottom: 30px;
		}
		.content {
			p {
				line-height: 1.333333;
				padding-bottom: 20px;
			}
		}
	}
}
.mobile-log {
	display: none;
}
footer {
	background: #000;
	color: rgba(#fff, 0.2);
	padding: 10px;
	position: absolute;
	width: 100%;
	bottom: 0;
	font-size: .8rem; 
	text-align: center;
}


@media screen and (max-width: 730px)  {
	nav{
		.logo {
			display: none;
		}

		.links {
			text-align: center;

			li {
				font-size: 0.8rem;
				margin-right: 5px;
			}

		}
	}
	.mobile-log {
		display: block;
		margin: 20px 0;
		text-transform: uppercase;
		font-family: 'IBM Plex Mono';
		font-weight: normal;
	}
	
	.sidebar {
		width: 100vw;
		position: relative;
		padding: 0 5rem;
		background-size: 100%;
	}


	.excerpts {
		left: 5rem;
		top: 0;
		width: 70vw;
		margin: 50px 0;
	}

	.separator {
		display: block;
		filter: sepia(.6);
		background: url('/blog/assets/img/separator_mobile.jpg') center center no-repeat fixed;
		height: 10vh;
		width: 100%;
		background-size: cover;
	}

	footer {
		background: #000;
		color: rgba(#fff, 0.8);
		padding: 10px;
		position: relative;
		bottom: 0;
		font-size: .8rem; 
		text-align: center;
	}
}

